/* DetailItem.css */

.detail-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.detail-title {
    flex: 2;
    font-weight: bold;
    margin-right: 20px;
}

.detail-balance {
    flex: 3;
    font-size: 1.4rem;
    text-align: right;
    margin-right: 10px;
}

.detail-action {
    background-color: #4CAF50;
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .detail-action:hover {
        background-color: #45a049;
    }

.detail-item[data-type="Income"] {
    background-color: #A8E6CF;
}

.detail-item[data-type="Expense"] {
    background-color: #FF8A80;
}

/* Puedes seguir agregando estilos personalizados para los demás tipos, 
   como Tarjetas y Ahorros, según los colores que desees. */
